.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;

  color: $color-default-white;

  background-color: $color-blackcurrant;
  border: 2px solid $color-perano;
  border-radius: 24px;
  text-transform: uppercase;
  cursor: pointer;

  transition: opacity $trans-default;

  &--blue {
    background-color: $color-cornflower-blue;
    border: none;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus,
      &:focus-visible,
      &:focus-within {
        color: $color-default-white;
        text-decoration: none;
        background: $blue-to-right;
        transition: color $trans-default;
      }
    }
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
